{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мой блог</title>
    <link rel = "stylesheet" type="text/css" href="{% static "static/css/foundation.css" %}">
</head>
<body>
<div class="top-bar">
    <section class="top-bar-section">
        <ul class="right">
            {% if username %}
                <li><a href="/auth/logout/">Выйти({{ username }})</a> </li>
            {% else %}
                <li><a href="/auth/login/">Войти</a> </li>
            {% endif %}
        </ul>
    </section>
</div>
<h1 align="center"><font color="#dc143c"><a href="/articles/page/1/"> Блог пинателя</a></font></h1>
<div class="row">
{% block articles %}{% endblock %}
{% block article %}{% endblock %}
{% block login %}{% endblock %}
</div>
</body>
</html>